{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="container-fluid my-5">
    <form action="/login" method="post">
        <div class="mb-3">

            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="" name="firstname" placeholder="Firstname" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="
            " name="lastname" placeholder="Lastname" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary mt-3" type="submit">Log In</button>
    </form>

    <div class="mt-5">Click <a href="/register" class="link">here</a> to Create new account</div>
</div>
{% endblock %}